.barra {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    justify-content: center;
 
 
}
 
img {
    height: 40vh;
    width: 60vw;
    border-radius: 20px;
 
}
 
body{
    display: flex;
    justify-items: center;
    flex-direction: column;

}
 
thead th {
    font-size:large bold;
    background-color: aquamarine;
}
 
table,  tbody, tr, td{
 
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
 
}

.logo-navbar {
    height: 60px; /* Ajusta la altura para que el logo sea m치s visible */
    width: auto; /* Mantiene la proporci칩n */
    padding: 5px; /* A침ade espacio alrededor del logo */
    background-color: white; /* O cualquier otro color que contraste con la barra */
    border-radius: 5px; /* Suaviza los bordes del fondo */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* A침ade una sombra para hacer que resalte */
}
