.barra {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    justify-content: center;
 
 
}
 
img {
    height: 40vh;
    width: 60vw;
    border-radius: 20px;
 
}
 
body{
    display: flex;
    justify-items: center;
    flex-direction: column;

}
 
 
table,  tbody, tr, td{
 
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
 
}

.logo-navbar {
    height: 60px; /* Ajusta la altura para que el logo sea más visible */
    width: auto; /* Mantiene la proporción */
    padding: 5px; /* Añade espacio alrededor del logo */
    background-color: white; /* O cualquier otro color que contraste con la barra */
    border-radius: 5px; /* Suaviza los bordes del fondo */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Añade una sombra para hacer que resalte */
}

.btn-custom {
    background-color: #2A2C70;
    color: white; /* Asegura que el texto sea visible sobre el fondo oscuro */
    border: none; /* Opcional: Elimina el borde del botón */
}

.btn-custom:hover {
    background-color: #1F225A; /* Color más oscuro para el estado hover */
}
